<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlogApp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');
            *{
                font-family: 'Montserrat','Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 500;
                font-stretch:normal;
                letter-spacing: 0.03em;
            }
            
        </style>
    </head>

