<%- include('./partials/header.ejs') %>
<body>

    <div>
        <div class="ui segment" style="width:50%;margin: 30px auto;border: none;box-shadow: 5px 5px 90px 30px #ddd;">
            <a href="/home" class="ui left floated">
                <i class="left arrow large icon"></i>
              </a>
            <h1 style="text-align: center;">Sign Up</h1>
            <form action="/auth/register" class="ui form" method="POST" style="display:flexbox;width:70%;justify-content: center;align-items: center;margin: 10px auto;" >
                
                <input type="text" name="username" placeholder="Username" style="min-width: 50%;margin-top: 20px;" required>
                <input type="text" name="name" placeholder="Name" style="min-width: 50%;margin-top: 20px;" required>
                <input type="password" name="password" placeholder="Password" style="min-width: 50%;margin-top: 20px;" required>
                <button class="ui button primary" style="min-width: 100%;margin: 3em auto;padding: 10px 50px;">Register</button>
            </form>
            <a href="/auth/login">Login
                <i class="right arrow icon"></i>
            </a>
        </div>
    </div>

<%- include('./partials/footer.ejs') %> 